## Measure of central tendency

In [1]:
## Mean(Average)
age = [12, 14, 13, 24, 21]

In [2]:
(12+14+13+24+21)/5

16.8

In [3]:
import numpy as np

In [4]:
np.mean(age)

16.8

In [5]:
weights = [45, 34, 76, 89, 75, 98, 55, 35, 45]

In [6]:
np.mean(weights)

61.333333333333336

In [7]:
weights = [45, 34, 76, 89, 75, 98, 55, 35, 45, 1000]

In [8]:
np.mean(weights)

155.2

In [9]:
## Median

np.median(weights)

65.0

In [10]:
## Mode

from scipy import stats
stats.mode(weights)

/tmp/ipykernel_2850/3334925297.py:4: FutureWarning: Unlike other reduction functions (e.g. `skew`, `kurtosis`), the default behavior of `mode` typically preserves the axis it acts along. In SciPy 1.11.0, this behavior will change: the default value of `keepdims` will become False, the `axis` over which the statistic is taken will be eliminated, and the value None will no longer be accepted. Set `keepdims` to True or False to avoid this warning.
  stats.mode(weights)

ModeResult(mode=array([45]), count=array([2]))

## Measure of Dispersion

In [11]:
## Variance

ages = [23, 43, 23, 56, 74, 32, 68, 98, 45, 32]
mean = np.mean(ages)
mean

49.4

In [12]:
var = np.var(ages)
var

541.64

In [13]:
std = np.std(ages)
std

23.273160507331188

In [14]:
import pandas as pd

In [15]:
data = [[10, 12, 13], [34, 23, 45], [32, 34, 21]]

df = pd.DataFrame(data, columns = ["A", "B", "C"])
df

    A   B   C
0  10  12  13
1  34  23  45
2  32  34  21

In [16]:
df.var()

A    177.333333
B    121.000000
C    277.333333
dtype: float64

In [17]:
## Row wise

df.var(axis = 1)

0      2.333333
1    121.000000
2     49.000000
dtype: float64

In [18]:
import seaborn as sns

In [19]:
df = sns.load_dataset("healthexp")

In [20]:
df.head()

   Year        Country  Spending_USD  Life_Expectancy
0  1970        Germany       252.311             70.6
1  1970         France       192.143             72.2
2  1970  Great Britain       123.993             71.9
3  1970          Japan       150.437             72.0
4  1970            USA       326.961             70.9

In [21]:
## covariance

import numpy as np

In [22]:
df.cov()

/tmp/ipykernel_2850/1545644723.py:1: FutureWarning: The default value of numeric_only in DataFrame.cov is deprecated. In a future version, it will default to False. Select only valid columns or specify the value of numeric_only to silence this warning.
  df.cov()

                         Year  Spending_USD  Life_Expectancy
Year               201.098848  2.571883e+04        41.915454
Spending_USD     25718.827373  4.817761e+06      4166.800912
Life_Expectancy     41.915454  4.166801e+03        10.733902

In [23]:
## Correlation - Spearnman rank

df.corr(method='spearman')

/tmp/ipykernel_2850/1054292472.py:3: FutureWarning: The default value of numeric_only in DataFrame.corr is deprecated. In a future version, it will default to False. Select only valid columns or specify the value of numeric_only to silence this warning.
  df.corr(method='spearman')

                     Year  Spending_USD  Life_Expectancy
Year             1.000000      0.931598         0.896117
Spending_USD     0.931598      1.000000         0.747407
Life_Expectancy  0.896117      0.747407         1.000000

In [24]:
## Correlation - perason

df.corr(method='pearson')

/tmp/ipykernel_2850/42885528.py:3: FutureWarning: The default value of numeric_only in DataFrame.corr is deprecated. In a future version, it will default to False. Select only valid columns or specify the value of numeric_only to silence this warning.
  df.corr(method='pearson')

                     Year  Spending_USD  Life_Expectancy
Year             1.000000      0.826273         0.902175
Spending_USD     0.826273      1.000000         0.579430
Life_Expectancy  0.902175      0.579430         1.000000

In [26]:
df = sns.load_dataset('penguins')

In [27]:
df

,species,island,bill_length_mm,bill_depth_mm,flipper_length_mm,body_mass_g,sex
0,Adelie,Torgersen,39.1,18.7,181.0,3750.0,Male
1,Adelie,Torgersen,39.5,17.4,186.0,3800.0,Female
2,Adelie,Torgersen,40.3,18.0,195.0,3250.0,Female
3,Adelie,Torgersen,NaN,NaN,NaN,NaN,NaN
4,Adelie,Torgersen,36.7,19.3,193.0,3450.0,Female
...,...,...,...,...,...,...,...
339,Gentoo,Biscoe,NaN,NaN,NaN,NaN,NaN
340,Gentoo,Biscoe,46.8,14.3,215.0,4850.0,Female
341,Gentoo,Biscoe,50.4,15.7,222.0,5750.0,Male
342,Gentoo,Biscoe,45.2,14.8,212.0,5200.0,Female
343,Gentoo,Biscoe,49.9,16.1,213.0,5400.0,Male

In [28]:
df.corr()

/tmp/ipykernel_2850/1134722465.py:1: FutureWarning: The default value of numeric_only in DataFrame.corr is deprecated. In a future version, it will default to False. Select only valid columns or specify the value of numeric_only to silence this warning.
  df.corr()

,bill_length_mm,bill_depth_mm,flipper_length_mm,body_mass_g
bill_length_mm,1.000000,-0.235053,0.656181,0.595110
bill_depth_mm,-0.235053,1.000000,-0.583851,-0.471916
flipper_length_mm,0.656181,-0.583851,1.000000,0.871202
body_mass_g,0.595110,-0.471916,0.871202,1.000000